body{
    display: flex;
    justify-content: center;
}

button{
    font-size: 30px;
    box-sizing: border-box;
}

.calculator{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 800px;
    border: 1px, solid, black;
    padding: 10px;
}

.display{
    width: 100%;
    height: 25%;
    border: 5px, solid, black;
    box-sizing: border-box;
}

.operators{
    flex: 1 0 0;
    display: flex;
}

.operator{
    flex: 1 0 0
}

.bottom{
    display: flex;
    flex-direction: row;
    flex: 4 0 0;
    width: 100%;
}

.numpad{
    display: flex;
    flex-wrap: wrap;
    flex: 3 0 0;
    /* height: 75%; */
    
}

.number{
    flex: 1 1 33%;
    /* width: 33% */
}


.side{
    display: flex;
    flex: 1;
}

.enter_button{
    flex: 1 0 0;
}